<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2 style="background-color: violet; border-radius: 0.5vw;">My Phone Book</h2>
        <h3>ADD CONTACT</h3>
        <div class="card">
            <input type="text" placeholder="Contact Name" [(ngModel)]="name"><br><br>
            <input type="number" placeholder="Contact Number" [(ngModel)]="phone"><br><br>
            <input type="email" placeholder="Person Email ID" [(ngModel)]="email"><br><br>
            <input type="text" placeholder="Photo Name" [(ngModel)]="image"><br><br>
            <button id="submit" (click)="add()">Save</button>
        </div><br>
        <div class="list">
            <h2>Contacts</h2>
            <table>
                <tr>
                    <th>Person</th>
                    <th>Phone</th>
                    <th>EMail</th>
                    <th>Photo</th>
                </tr>
                <tr *ngFor="let contact of contacts">
                    <td>{{contact[0]}}</td>
                    <td>{{contact[1]}}</td>
                    <td>{{contact[2]}}</td>
                    <td><img src="{{contact[3]}}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>